.softskills{
    width:30vw;
    height:fit-content;
    padding-bottom: 3vh;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgb(233, 233, 233);
}
.SoftTitle{
    margin:0;
    padding: 1.5rem;
    font-family: font4;
    color: aliceblue;
    /* border-bottom:2px solid rgba(245, 245, 245, 0.786); */
    box-shadow: 0 0 10px rgb(0, 255, 60);
    transform: scaleX(0) scaley(0);
    transform-origin: left;
    /* animation: Myfade 2s forwards; */
}
.sskill{
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    color: aliceblue;
    font-family: font2;
}
.progressbar{
    position: relative;
    border-radius: 5vh;
    width: 100%;
    height: 1vh;
    background-color: rgba(255, 255, 255, 0.699);
    transform: scaleX(0);
    transform-origin: left;
    /* animation: animate 2s forwards; */
}
.progressbar span{
    height: 100%;
    background-color: green;
    position: absolute;
    border-radius: 5vh;
    animation: animate 2s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@media (max-width: 768px) {
    .softskills{
        margin-top: 10%;
        margin-left: 5%;
        margin-bottom: 10%;
        width:90%;
        backdrop-filter: blur(5px);
        box-shadow: 0 0 10px rgb(233, 233, 233);
    }
    .SoftTitle{
        padding: .5rem;
        box-shadow: 0 0 10px rgb(0, 255, 60);
        font-size: large;
    }
    .sskill{
        font-size: 2.5vw;
    }
    .progressbar{
        height: 5px;
    }
}